.Testimonial {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-left: auto;
}

@media (min-width: 768px) {
  .Testimonial {
    grid-template-columns: repeat(3, 1fr);
    /* width: 90%; */
    max-width: 1400px;
    margin-right: 0;
  }
}
