.GetStarted {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.GetStarted h1 {
  margin: 15px;
}

@media (min-width: 760px) {
  .GetStarted h1 {
    font-size: 35px;
  }
}

.GetStarted button {
  min-width: 250px;
  padding: 20px;
  color: #fff;
  font-weight: 700;
  background-color: var(--primary-color);
  border-radius: 4px;
  border: none;
  outline: none;
  margin-top: 20px;
}
